/* navbar */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F1F1;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 8;
    justify-content: space-between;
    background-color: #19456B;
    color: #F8F1F1;
    font-family: valorant;
}

.brand-title {
    font-size: 40px;
    padding: 10px 10px 10px 50px;
}

.navbar-links {
    margin-top: 10px;
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navbar-links li:hover {
    background-color: #16C79A;
}

.toggle-button {
    position: absolute;
    margin-top: 15px;
    right: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .brand-title {
        font-size: 30px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 7px 15px;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* body */
.header {
    font-family: poppins;
}

.title {
    text-align: center;
    padding-top: 120px;
    font-size: 2.5vw;
    color: #11698E;
    font-family: valorant;
}

.slogan {
    text-align: center;
    padding-top: 0.5vw;
    font-size: 0.75vw;
    color: #19456B;
}

.btn {
    width: 14%;
    height: 2.5vw;
    border-radius: 30px;
    background: #16C79A;
    border: 0;
    margin-left: 43%;
    margin-top: 5vw;
    font-size: 0.7vw;
}

.btn:hover {
    background: #11698E;
}

.btn a:hover {
    background: #11698E;
}

.about{
    margin: 5vw 5vw 0px 5vw;
    padding: 2.5vw 0.5vw 2.5vw 2.5vw;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    background-color: #11698E;
    background-size: 400vw;
    border-radius: 20px;
}

.photo{
    width: 50vw;
    height: 23vw;
}

.about-title{
    font-family: valorant;
    font-size: 2.5vw;
    color: #F8F1F1;
    width: 20vw;
    margin-left: 14vw;
}

.desc {
    width: 80%;
    font-family: poppins;
    font-size: 1vw;
    color: #F8F1F1;
    padding-top: 1vw;
    margin-left: 5vw;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

#card {
    height: auto;
    padding-top: 8vw;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: poppins;
    display: flex;
    justify-content: space-between;
}

.merge {
    width: 100%;
    transition: 1s;
}

.merge img {
    width: 75%;
    height: auto;
}

.merge:hover{
    transform: scale(1.2);
    z-index: 2;
}

.subtitle {
    width: 25vw;
    font-size: 1.5vw;
}

.notes {
    width: 25vw;
    font-size: 0.7vw;
}

.esports {
    width: 90%;
    padding-top: 8vw;
    padding-left: 10vw;
}

#watch {
    height: auto;
    padding-left: 10vw;
    font-family: poppins;
}

.merge-1 {
    display: flex;
    justify-content: space-between;  
}
 
.yt {
    width: 5vw;
}

.yt-image {
    width: 5vw;
}

.live {
    padding-top: 0.5vw;
    width: 150%;
}

.live a h1 {
    font-size: 2vw;
}

/* footer  */
footer {
    background-color: #19456B;
}

.social{
    width: 33%;
    color: white;
    margin-top: 5%;
    padding-top: 1vw;
    margin-left: 43.5%;
    font-size: 1vw;
}

.logo-footer{
    margin-top: 2vw;
    display: flex;
}

.logo-1{
    width: 5vw;
    margin-right: 1%;
}

.logo-2{
    width: 5vw;
    margin-right: 1%;
}

.logo-3{
    width: 5vw;
    margin-right: 1%;
}

.logo-footer a img{
    width: 50%;
}

.footer-title {
    font-family: valorant;
    font-size: 1.5vw;
    color: #F8F1F1;
    text-align: center;
    padding-top: 2.5vw;
}

.copyright {
    font-family: poppins;
    font-size: 1vw;
    color: #F8F1F1;
    text-align: center;
    padding-top: 1.5vw;
}

.additional {
    display: flex;
    padding-top: 2vw;
    padding-bottom: 2.5vw;
    font-size: 0.5vw;
    color: #16C79A;
    font-family: poppins;
}

.add-1 {
    width: 33%;
    margin-left: 33%;
}

.add-2 {
    width: 33%;
}

.add-3 {
    width: 33%;
    margin-right: 30%;
}